@mixin transition($transition) {
  -webkit-transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  -webkit-animation: $animations;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
}
