html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import './fonts';
@import './mixins';
@import './animations';
@import './loader';
@import './background';
@import './content';
@import './countdown';
